<form method='POST' action="/addroom">
   <div class="container justify-content-center ">
      <div class="row">
         <div class="col mt-3 py-2">
            <h1 class="display-4">Let's add a new book!</h1>
         </div>
      </div>
      <div class="row ">
         <div class="col-3 bg-light mt-3 py-2">
            <div class="form-floating mb-3 d-flex justify-content-center">
               <input type="text" class="form-control" id="floatingInput" placeholder="Room Title" name='title'
                  required>
               <label for="floatingInput"></label>
            </div>
            <div class="form-floating mb-3 d-flex justify-content-center">
                <input type="text" class="form-control" id="floatingInput" placeholder="Password" name='title'
                   required>
                <label for="floatingInput"></label>
             </div>
            <div class="d-grid gap-2 col-8 mx-auto my-auto">
               <button type="submit" class="btn btn-secondary btn-lg">ADD BOOK</button>
            </div>
         </div>

         <div class="col-8 mt-3 py-2 text-center">
            <img src="static\assets\img\addition\books.jpeg" alt="">
         </div>


      </div>
   </div>
</form>

{%endblock%}