{%extends "base.html"%}
{%block title%}HOME PAGE{%endblock%}
{%set active_page = 'home'%}
{%block content%}

<div class="container mt-5">
  <div class="row">
    <div class="col-lg">
      <div class="rooms-per-page">
        <form method="get">
            <label for="rooms_per_page">rooms per page:</label>
            <select name="rooms_per_page" id="rooms_per_page" onchange="this.form.submit();">
                <option value="10" {% if rooms_per_page == 10 %}selected{% endif %}>10</option>
                <option value="20" {% if rooms_per_page == 20 %}selected{% endif %}>20</option>
                <option value="50" {% if rooms_per_page == 50 %}selected{% endif %}>50</option>
            </select>
            <!-- <input type="submit" value="Update"> -->
        </form>
    </div>
      <div class="pagination mt-3">
        <span class="first">
          <a href="{{ url_for('rooms', page=1) }}">First </a>
      </span>
        <span class="previous">
            {% if rooms.has_prev %}
                <a href="{{ url_for('rooms', page=rooms.prev_num) }}">Prev</a>
            {% endif %}
        </span>
        <span class="page-numbers">
            {% for page_num in get_page_range(rooms.page, rooms.pages) %}
                {% if page_num == rooms.page %}
                    <strong>{{ page_num }}</strong>
                {% else %}
                    <a href="{{ url_for('rooms', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
        </span>
        <span class="next">
            {% if rooms.has_next %}
                <a href="{{ url_for('rooms', page=rooms.next_num) }}">Next</a>
            {% endif %}
        </span>
        <span class="last">
          <a href="{{ url_for('rooms', page=rooms.pages) }}"> Last </a>
      </span>
    </div>
</div>
  </div>
    <div class="row align-items-start">
        <div class=" col-lg">
      <div class="hero-content-wrapper">
        <!-- ========================= Let's Create a table here========================= -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Title</th>
            </tr>
          </thead>
          <tbody>
            {%for room in rooms%}
            <tr>
              <th scope="row">{{room.id}}</th>
              <td>{{room.title}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
  </div>
</div>
</div>

{%endblock%}